<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Enviar parametros del Request HTTP GET - URL</title>
</head>
<body>
	<h1>Enviar parametros del Request HTTP GET - URL</h1>

	<ul>
		<li><a th:href="@{/params/string(texto='enviado desde el index 111')}">Link al string 111</a></li>
		<li><a th:href="@{/params/string(texto='enviado desde el index 222')}">Link al string 222</a></li>
		<li><a th:href="@{/params/mix-params(saludo='Saludos desde index 3', numero=3)}">Link al string con doble parametro</a></li>
	</ul>
</body>
</html>